{
  "rules": {
    "no-extra-parens": 0,
    "react/jsx-uses-vars": 1,
    "global-strict": [2, "always"],
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "space-infix-ops": 0,
    "no-alert": 0
  },
  "ecmaFeatures": {
    "jsx": 1,
  },
  "env": {
    "node": 1,
    "browser": 1,
    "es6": 1,
  },
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ]
}
